/* Basic */

list-style($list-style) {
  list-style-type: $list-style
  margin: 0
  text-align: left
}

border-radius($radius) {
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius
}

box-shadow($position, $size, $color) {
  -webkit-box-shadow: $position $size $color
  -moz-box-shadow: $position $size $color
  box-shadow: $position $size $color
}

filter-drop-shadow($position, $size, $color) {
  -webkit-filter: drop-shadow($position $size $color)
  -moz-filter: drop-shadow($position $size $color)
  filter: drop-shadow($position $size $color)
}

/* Hovers */

bob-hover($position) {
  &:hover {
    z-index: 9999
    -webkit-transform: translate($position)
    transform: translate($position)
  }
}

/* Transitions */

transition($duration) {
  -webkit-transition: all $duration ease-in-out
  transition: all $duration ease-in-out
}

v-transition($duration) {
  &.v-transition {
    -webkit-transition: all $duration ease
    transition: all $duration ease
  }
}

v-scale-transition($size) {
  &.v-enter, .v-leave {
    -webkit-transform: scale($size)
    transform: scale($size)
  }
}
