/* colors */

$black = #333
$white = #fff
$orange = #eb885d
$red = #b9394b
$maroon = #720e34
$purple = #2c142b

/* others */

$alpha-white = alpha(white, 10%)
$alpha-purple = alpha($purple, 10%)

$padding-size = 10px
$style-type = none
$radius-size = 3px

$shadow-size = 2px
$shadow-blur = 2px
$shadow-color = alpha(black, 10%)

$transition-duration = .2s
$transition-position = 3px
$transition-size = 0.9
