/* colors */

$black = #444
$white = #fff
$green = #c1ce96
$dark-green = #687d77
$dark-brown = lighten(#353129, 5%)
$dark-gray = #484a47

// $black = #444
// $white = #fff
// $green = #a4b765
// $dark-green = #687d77
// $dark-brown = #353129
// $dark-gray = #3a3c3a

/* others */

$padding-size = 10px
$style-type = none
$radius-size = 3px

$shadow-size = 2px
$shadow-blur = 1px
$shadow-active = alpha(black, 30%)
$shadow-color = alpha(black, 5%)

$transition-duration = .2s
$transition-position = 3px
$transition-size = 0.9
